canvas{
  position: fixed;
  top:0;
  left: 0;
}

body,
html{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*nav bar on the left, to make it animated, more interactive. tell user where they are in page */
nav{
  color:  #cc99ff;
  z-index: 2;
  position: fixed;
  padding: 1rem 1rem;
  top:25%;
}

nav a{
  text-decoration: none;
  color:  #cc99ff;
  font-weight: bold;
  background-color: rgba(255, 255, 204, 0.5);
  padding: 15px;
  border-radius: 25px;
}

nav a:hover{
  background-color: rgba(255, 204, 255, 0.7)
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  
  gap: 5rem;
}
nav li{
  cursor: pointer;
}

#first{
  width: 100%;
  height: 1000px;

}
#second{
  width: 100%;
  height: 1000px;
}

#third{
  width: 100%;
  height: 1000px;
}

.container{
  position: relative;
  top: 5%;
  left: 35%;
  
  color: #cc99ff;
  letter-spacing: 5px;
}

.title{
  letter-spacing: 5px;
  position: relative;
  font-size: 3rem;
}

.titleabout{
  position: relative;
  letter-spacing: 5px;
}
/*
#description{
  color: #cc99ff;
  position: absolute;
  padding: 2rem;
  z-index: 2;
  left: 50%;
  top: 27%;
  transform: translate(-50%, -25%)
}*/

#credit{
  color: #cc99ff;
  position: absolute;
  top:90%;
  left: 80%;
  font-size: xx-small;
}

.textcontainer{
  background-color: rgba(255, 255, 204, 0.5);
  width: 30%;
}

/* third container takes more space, has less space on the left*/

.thirdcontainer{
  position: relative;;
  left: 20%;
  color: #cc99ff;
}

#portfolio{
 
}

#contributions{
 
}

#splitcontainerforwork{
  display: flex;
  
  gap: 30%;

}

