@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*
{
	font-family: 'PT Serif', serif;
}
.flexible
{
	width: 33%;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	/*this is a temporary way to centre as it has issues if the vertical height of browser is smaller than content*/
}
		
@media only screen and (max-width: 1280px)
{
	.flexible		
	{
		width: 66%;
	}
}
		
@media only screen and (max-width: 768px)
{
	.flexible
	{
		width: 95%;
	}
}

.padding
{
	padding-bottom: 30px;
	padding-top: 5 px;
}