canvas{
  position: fixed;
  top:0;
  left: 0;
}
body,
html{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
  color:  #cc99ff;
  z-index: 2;
  position: fixed;
  padding: 3rem 8rem;
  
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color:  #cc99ff;
  font-weight: bold;
  background-color: rgba(255, 255, 204, 0.5);
  padding: 15px;
  border-radius: 25px;
}

nav a:hover{
  background-color: rgba(255, 204, 255, 0.7)
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav li{
  cursor: pointer;
}

#first{
  width: 100%;
  height: 1000px;
}
#second{
  width: 100%;
  height: 1000px;
}
.title{
  color: #cc99ff;
  letter-spacing: 5px;
  padding: 1rem;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -25%);
}

#description{
  color: #cc99ff;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 27%;
  transform: translate(-50%, -25%)
}

#credit{
  color: #cc99ff;
  position: absolute;
  top:90%;
  left: 80%;
  font-size: xx-small;
}